@import url(../fonts/fonts.css);
body {
  scroll-behavior: smooth;
  background-color: #fff;
  font-family: "GothamPro";
  color: #000;
  font-size: 15px;
  line-height: 1.4;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

body.fixed {
  overflow: hidden;
  padding-right: 15px;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, div::-moz-selection, img::-moz-selection, mark::-moz-selection, ul::-moz-selection, li::-moz-selection {
  color: #fff;
  background-color: #000;
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection {
  color: #fff;
  background-color: #000;
}

::-moz-selection {
  color: #fff;
  background-color: #000;
}

::selection {
  color: #fff;
  background-color: #000;
}

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select:focus, select:active {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

a {
  color: #000;
}

a:hover {
  color: #ff5243;
}

button {
  border: transparent;
  background: none;
}

option {
  color: #000;
}

textarea {
  resize: none !important;
  overflow: hidden;
}

textarea::-webkit-input-placeholder {
  color: #000;
}

textarea::-moz-placeholder {
  color: #000;
}

textarea:-ms-input-placeholder {
  color: #000;
}

textarea::-ms-input-placeholder {
  color: #000;
}

textarea::placeholder {
  color: #000;
}

input,
textarea,
select {
  color: #000;
  font-family: "GothamPro";
  font-size: 14px;
  padding: 12px 25px;
  border-radius: 2px;
  border: none;
  border: 1px solid #dcdcdc;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder {
  color: #000;
}

input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="tel"]::-moz-placeholder {
  color: #000;
}

input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder {
  color: #000;
}

input[type="text"]::-ms-input-placeholder, input[type="email"]::-ms-input-placeholder, input[type="tel"]::-ms-input-placeholder {
  color: #000;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  color: #000;
}

input:focus,
textarea:focus,
input:active,
textarea:active {
  color: #000;
  border-color: #ff5243;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

.select__wrp {
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

.select__wrp::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../img/select__arr.png") no-repeat 50% 50%/contain;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 9px;
}

.select__wrp select {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 8px 40px 8px 12px;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.select__wrp select option {
  width: 100%;
}

.select__wrp:hover::before {
  -webkit-transform: translateY(-50%) scale(0.9);
      -ms-transform: translateY(-50%) scale(0.9);
          transform: translateY(-50%) scale(0.9);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.shd {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shd:hover {
  -webkit-box-shadow: 0px 30px 40px rgba(0, 80, 147, 0.25);
          box-shadow: 0px 30px 40px rgba(0, 80, 147, 0.25);
}

.red {
  color: #ff5243;
}

.wt {
  color: #fff;
}

a.wt {
  color: #fff !important;
}

a.wt:hover {
  color: #ff5243 !important;
}

.black {
  color: #000;
}

.bold {
  font-family: "GothamPro-Bold";
}

.med {
  font-family: "GothamPro-Medium";
}

.reg {
  font-family: "GothamPro";
}

.fz13 {
  font-size: 13px !important;
}

.fz16 {
  font-size: 16px !important;
}

@media only screen and (max-width: 1200px) {
  .fz16 {
    font-size: 14px;
  }
}

.fz18 {
  font-size: 18px !important;
}

@media only screen and (max-width: 1200px) {
  .fz18 {
    font-size: 16px !important;
  }
}

.fz20 {
  font-size: 20px !important;
}

@media only screen and (max-width: 1200px) {
  .fz20 {
    font-size: 17px;
  }
}

.fz30 {
  font-size: 30px !important;
}

@media only screen and (max-width: 1200px) {
  .fz30 {
    font-size: 20px;
  }
}

.tac {
  text-align: center;
}

.tal {
  text-align: left !important;
}

.tar {
  text-align: right;
}

.und {
  text-decoration: underline;
}

.upp {
  text-transform: uppercase;
}

.ttn {
  text-transform: none !important;
}

.btn {
  outline: none;
  font-size: 18px;
  font-family: "GothamPro-Bold";
  letter-spacing: .5px;
  text-align: center;
  padding: 15px 30px;
  color: #fff;
  background-color: #ff5243;
  display: inline-block;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  box-shadow: 0px 4px 0px 0px rgb(220, 26, 9);
}
@media only screen and (max-width: 1200px) {
  .btn {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.btn > * {
  position: relative;
}

.btn::before {
  content: '';
  position: absolute;
  width: 138px;
  height: 138px;
  top: -80px;
  background: -o-linear-gradient(177.64deg, #FFFFFF -11.72%, rgba(255, 255, 255, 0) 23.19%);
  background: linear-gradient(272.36deg, #FFFFFF -11.72%, rgba(255, 255, 255, 0) 23.19%);
  opacity: 0.5;
  -webkit-transform: rotate(36.57deg);
      -ms-transform: rotate(36.57deg);
          transform: rotate(36.57deg);
  -webkit-transition: 3s all ease;
  -o-transition: 3s all ease;
  transition: 3s all ease;
  animation: blick 5s infinite;
}

@keyframes blick {
  0% {
    left: -210%;
    opacity: 0;
  }
  10% {
    opacity: .5;
  }
  90% {
    left: 150%;
  }
  100% {
    opacity: 0;
  }
}

.btn:hover {
  -webkit-transform: scale(.97);
  -ms-transform: scale(.97);
  -o-transform: scale(.97);
  transform: scale(.97);
}

.checkbox {
  cursor: pointer;
  position: relative;
  margin-bottom: 0;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 20px;
  cursor: pointer;
}

.checkbox .checkbox__text {
  font-size: 14px;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  width: 100%;
  height: 30px;
  display: block;
}

@media only screen and (max-width: 1200px) {
  .checkbox .checkbox__text {
    font-size: 12px;
  }
}

.checkbox .checkbox__text::before {
  content: '';
  position: absolute;
  top: 0px;
  left: -2px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #c3c2c2;
  background: #fff;
}

.checkbox .checkbox__text::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -11px;
  left: 2px;
  width: 12px;
  height: 12px;
  background-color: #ff5243;
  border-radius: 2px;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.checkbox .checkbox__text a {
  color: #ff5243;
  text-decoration: underline;
  position: relative;
  z-index: 2;
}

.checkbox input[type="checkbox"]:checked + .checkbox__text:after,
.checkbox input[type="radio"]:checked + .checkbox__text:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.checkbox input[type="checkbox"]:checked + .checkbox__text:before,
.checkbox input[type="radio"]:checked + .checkbox__text:before {
  background-color: #fff;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.list_circle {
  list-style-type: none;
  padding-left: 0;
}

.list_circle li {
  padding-left: 25px;
  position: relative;
}

.list_circle li {
  margin-bottom: 10px;
}

.list_circle li::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ff5243;
  left: 0;
  top: 8px;
  border-radius: 50%;
}

.list_string {
  list-style-type: none;
  padding-left: 0;
}

.list_string li {
  padding-left: 25px;
  position: relative;
}

.list_string li {
  margin-bottom: 10px;
}

.list_string li::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 1px;
  background-color: #ff5243;
  left: 0;
  top: 6px;
}

.list_num {
  padding-left: 0;
  counter-reset: list1;
}

.list_num li {
  list-style-type: none;
}

.list_num li {
  margin-bottom: 10px;
}

.list_num li::before {
  counter-increment: list1;
  content: counter(list1);
  color: #ff5243;
  font-size: 16px;
  font-family: "GothamPro-Bold";
  margin-right: 15px;
}

.fancybox-slide--html {
  padding: 0;
}

.popup__container {
  padding: 43px 15px 0;
  background-color: transparent;
}

@media only screen and (max-width: 1200px) {
  .popup__container {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Custom animation */
.fancybox-fx-slide-in-out.fancybox-slide--previous {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.fancybox-fx-slide-in-out.fancybox-slide--next {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.fancybox-fx-slide-in-out.fancybox-slide--current {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.popup__container .fancybox-close-small {
  top: 0;
  right: 2px;
  padding: 0;
  color: #fff;
}

.popup__container .fancybox-close-small svg path {
  fill: #fff;
}

.popup__container .popup__wrp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-width: 770px;
}

.popup__container .popup {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  color: #000;
  overflow: hidden;
}

.popup__container .popup .section__ttl {
  line-height: 1;
}

.popup__container .popup .checkbox {
  text-align: left;
}

.popup__container .popup_quiz__wrp {
  min-width: 960px;
}
@media only screen and (max-width: 1200px) {
  .popup__container .popup_quiz__wrp {
    min-width: unset;
  }
}
.popup_quiz__top {
  width: 100%;
  background-color: #f6f6f6;
  border-bottom: 3px solid rgb(220, 26, 9);
  padding: 25px 25px;
}
.popup_quiz__bot {
  width: 100%;
}
.popup_quiz__item {
  position: relative;
  width: 100%;
  min-height: 268px;
  padding: 25px 25px 95px;

}
.popup_quiz__ttl {
  font-size: 22px;
  font-family: "GothamPro-Bold";
  margin-bottom: 10px;
}
@media only screen and (max-width: 1200px) {
  .popup_quiz__ttl {
    font-size: 16px;
  }
}
.quiz__submit {
  position: absolute;
  font-size: 15px;
  bottom: -25px;
  right: 25px;
  height: 51px;
}
@media only screen and (max-width: 1200px) {
  .quiz__submit {
    bottom: 15px;
  }
}
.owl-carousel .owl-item img {
  width: auto !important;
}

.owl-carousel .owl-dots {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
}

.owl-carousel .owl-dots button.owl-dot {
  width: 20px;
  height: 20px;
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  background-color: #DDDDDD;
  position: relative;
}

@media only screen and (max-width: 1200px) {
  .owl-carousel .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
  }
}

.owl-carousel .owl-dots button.owl-dot:not(:last-child) {
  margin-right: 10px;
}

.owl-carousel .owl-dots button.owl-dot.active {
  border-color: #000;
  background-color: #ff5243;
  -webkit-box-shadow: inset 0px 0px 0px 2px #fff;
          box-shadow: inset 0px 0px 0px 2px #fff;
}
.owl-carousel .owl-nav {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  padding: 15px 25px;
  margin-top: -91px;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  font-size: 15px;
  font-family: "GothamPro-Medium";
  letter-spacing: .5px;
  text-align: center;
  padding: 15px 30px !important;
  color: #fff;
  background-color: #ff5243;
  border-radius: 2px;
  position: relative;
  box-shadow: 0px 4px 0px 0px rgb(220, 26, 9);

  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}


.owl-carousel .owl-nav button.owl-prev svg,
.owl-carousel .owl-nav button.owl-next svg {
  max-width: 17px;
  max-height: 17px;
  height: auto;
  fill: none;
  stroke: #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

@media only screen and (max-width: 1200px) {
  .owl-carousel .owl-nav button.owl-prev svg,
  .owl-carousel .owl-nav button.owl-next svg {
    max-height: 12px;
  }
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  -webkit-transform: scale(.97);
  -ms-transform: scale(.97);
  -o-transform: scale(.97);
  transform: scale(.97);
}

.owl-carousel .owl-nav button.owl-prev:hover svg,
.owl-carousel .owl-nav button.owl-next:hover svg {
  stroke: #fff;
}

.owl-carousel .owl-nav button.owl-prev.disabled,
.owl-carousel .owl-nav button.owl-next.disabled,
.owl-carousel .owl-nav button.owl-prev.disabled:hover,
.owl-carousel .owl-nav button.owl-next.disabled:hover {
  display: none;
}

.owl-carousel .owl-nav button.owl-prev {
  left: 0;
}

.owl-carousel .owl-nav button.owl-next {
  right: 0;
}

@media only screen and (max-width: 1200px) {
  .section__ttl {
    font-size: 22px;
    margin-bottom: 25px;
  }
}


.main {
  background-color: #f6f6f6;
}

.main__left {
  position: relative;
  min-height: 810px;
  height: 100%;
  background-image: url('../img/main__img.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.main__left-in {
  height: 100%;
  padding: 35px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 1200px) {
  .main__left {
    min-height: 470px;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.main__left-city {
  font-size: 18px;
  color: #fff;
  margin-right: 25px;
}

.main__left-city svg {
  fill: #fff;
}

.main__left-info {
  color: #fff;
  background-color: #333333c7;
  padding: 25px 30px;
}
@media only screen and (max-width: 1200px) {
  .main__left-info {
    padding: 15px;
  }
}

.main__left-info a {
  color: #fff;
}

.main__left-info a:hover {
  color: #ff5243;
}

.main__right {
  padding: 35px 0;
}
.main__logo {
  max-width: 80px;
}

.main__right-offer {
  font-size: 35px;
  font-family: "GothamPro-Bold";
  letter-spacing: 1px;
  margin-bottom: 35px;
}
@media only screen and (max-width: 1200px) {
  .main__right-offer {
    font-size: 18px;
    margin-bottom: 15px;
  }
}

.main__right-offer span {
  color: #ff5243;
}

.main__right .list_circle {
  font-size: 16px;
}

.main__right-fact {
  font-family: "GothamPro-Italic";
}

.main__right-fact img {
  max-width: 60px;
}

.main__btn-descr {
  color: #807d7d;
}